<!DOCTYPE html>
<html manifest="site.manifest">
<head>

	<title> Machine {{inventory_hostname}}	</title>
</head>
<body>
        <p> This host machine is {{inventory_hostname}} </p>
        <p>  ansible version {{ansible_version}} </p>
        <p>  groups {{groups}} </p>
        <p>  group_names {{group_names}} </p>
</body>

</html>

